{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/pinapptracer/css/login.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div id="login-form" class="text-center">
                <img src="{{ asset('bundles/pinapptracer/images/logo-scaled.png') }}" alt="Flander's DRIVE Logo"/>
                
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}"
                               required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required"/>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>

                    <div class="form-actions">
                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
                    </div>

                    {% if error %}
                        <div class="alert alert-danger">{{ error|trans }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}